# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# OS 파일들
.DS_Store